div(id='mapa' style='height: 100vh; width: 100%;')
    if autocarro
        script.
            if(!`#{autocarro.lat}`) {
                swal("Erro!", "Não foi possível localizar este autocarro.", "error");
            } else {
                let mapa = L.map('mapa').setView([`#{autocarro.lat}`, `#{autocarro.lng}`], 20);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(mapa);
                L.marker([`#{autocarro.lat}`, `#{autocarro.lng}`]).addTo(mapa).bindTooltip("Autocarro: <b>#{autocarro.numAuto}</b><br>Matricula: <b>#{autocarro.matricula}</b><br>Última Atualização: #{autocarro.atualizado}", {direction: "top"}).openTooltip();
            }
    else if infoParagem
        script.
            $('#mapa').css('height','100%');
            var mapa = L.map('mapa').setView([#{lat}, #{lng}], 20);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(mapa);
            L.marker([#{lat}, #{lng}]).addTo(mapa);
            L.marker([#{lat}, #{lng}]).addTo(mapa).bindTooltip("Paragem: <b>#{nomeParagem}</b>", {direction: "top"}).openTooltip();
